.footer_main {
    padding: 10rem 0;
    background: #222255;
    position: relative;
    padding-left: 50px;
    background-image: url(../public/gif.gif);
    background-position: center center;
    background-attachment: fixed;

    h2 {
        margin: 0;
    }

    .content {
        text-align: center;
        max-width: 840px;
        margin: 0 auto;
    }
}



.socbox {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 6rem 0 0;
    justify-content: center;

    .soc {
        display: flex;
        gap: 10px;

        svg {
            width: 20px;
            height: 20px;
            fill: #fff;
        }
    }
}

.formstyling {
    padding: 30px;
    color: #000;
    display: grid;
    text-align: center;
    gap: 30px;
}