.main {
  font-family: 'Cormorant', serif;
  background: #000;
  font-family: 'Montserrat', sans-serif;
}

.video__fullscreen {


  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  bottom: 0;


  @media screen and (min-width:768px) {
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}

.welcome {
  position: relative;

  @media screen and (min-width:768px) {
    min-height: 100vh;

  }

  .container {
    position: relative;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 2rem 2rem;
    left: 50px;
    right: 0;
    left: 0;
    padding-left: calc(50px + 2rem);
    backdrop-filter: blur(6px);

    @media screen and (min-width:768px) {
      right: 30vw;
      position: absolute;
      left: 50px;
      padding: 0 4rem;
    }
  }

  video {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100vh;
  }

  .content {
  }

  .h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 15px;

    @media screen and (min-width:768px) {
      font-size: 4rem;
    }
  }

  .subtitle {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
    display: flex;
  }

  .title {
    color: #ff9301;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: capitalize;
    display: flex;
  }

  .context {
    color: hsla(0, 0%, 100%, .8);
    margin-bottom: 1rem;
  }

  .btn_link {
    border: 1px solid transparent;
    cursor: pointer !important;
    display: inline-block;
    font-weight: 500;
    position: relative;
    text-decoration: none !important;
    transition: 0.4s;
    background: transparent;
    border-color: #ff9301;
    padding: .8rem 2rem;
    font-size: 0.8rem;
    line-height: 1.4;
    letter-spacing: -.02em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 2rem;

    &:hover {
      background-color: #ff9301;
      color: #fff;
    }

    @media screen and (min-width:768px) {
      padding: .8rem 3rem;
    }
  }

  .video__fullscreen {
    height: 100%;
    display: flex;
  }
}





section.followme {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: flex-end;
  width: 50px;
  justify-content: center;
  border-right: 1px solid #ffffff36;

  >div {
    position: relative;
  }

  .phone {
    padding-right: 5px;
    position: absolute !important;
    top: 150px;
    left: 13px;
    color: #bbb;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    transform-origin: 0% 0%;
    text-align: right;
    transform: rotate(-90deg);
  }

  .followlabel {
    padding-right: 5px;
    position: absolute;
    bottom: 120%;
    right: -57px;
    color: #bbb;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    transform-origin: 0% 0%;
    text-align: right;
    transform: rotate(-90deg);

  }

  .soc a {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #bbb;
    transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);

    svg {
      width: 20px;
      height: 20px;
      fill: #bbb;
    }
  }
}

.portfolio {

  padding: 90px 0;
  background: rgba(0, 0, 0, 0.85);
  position: relative;
  padding-left: 50px;


  .container {
    margin: 0 auto;
    padding: 0 2rem;
  }

  .header {
    margin: 0 0 2rem;
  }



  .grid {
    display: grid;
    gap: 72px;
    grid-template-columns: auto;

    @media screen and (min-width:768px) {
      grid-template-columns: auto auto auto;

    }
  }

  .portfolio_box {
    width: auto;
  }

  .gallery_link {
    position: relative;
    background-color: #000;

    &:hover {
      &:after {
        top: 0;
      }

      img {
        opacity: 1;
      }
    }

    a {
      display: flex;
    }

    &:after {
      // content: close-quote;
      // transition: top .7s;
      // position: absolute;
      // top: 55%;
      // left: 0;
      // right: 0;
      // bottom: 0;
      // background: linear-gradient(0deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 100%);
    }

    img {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      transition: opacity .7s;
      opacity: .5;
      border-radius: 5px;
      object-position: top center;

      @media screen and (min-width:768px) {
        height: 550px;
      }
    }
  }

  .portfolio_img {
    position: relative;
  }

  .portfolio_info {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    // left: 0;
    // z-index: 3;
    padding: 2rem 0px;
  }

  .portfolio_info h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }


}




section.services {
  padding: 90px 0;
  background: rgb(0 0 0 / 85%);
  position: relative;
  padding-left: 50px;

  .service_image {
    margin-bottom: 4rem;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    transition: all 2s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 50vh;

    h2 {
      padding: 0 1rem 0.5rem;

      font-size: 2rem;

      @media screen and (min-width:768px) {
        font-size: 2rem;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;


      a {
        margin: 0;
      }
    }

    &:hover {

      // height: 0vh;
      &:after {
        // opacity: 0;
      }
    }

    &:after {
      content: close-quote;
      transition: all 0.7s;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: 0.7;
    }

    h2,
    a {
      position: relative;
      z-index: 2;
      text-align: center;

    }
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0 2rem 0;
    gap: 40px;

    display: flex;
    flex-direction: column;

    @media screen and (min-width:768px) {
      grid-template-columns: 0.5fr 1fr;
    }
  }

  .h2 {
    font-size: 2rem;
    margin-bottom: 2rem;

    @media screen and (min-width:768px) {
      font-size: 3rem;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border: 1px solid hsla(0, 0%, 100%, .15);
    position: relative;
    @media screen and (min-width:768px) {
      padding: 2rem;
    }

    &:after {
      content: "1";
      position: absolute;
      bottom: 30px;
      left: 30px;
      font-size: 5rem;
      font-weight: 900;
      line-height: 0.7;
      z-index: 1;
      opacity: 0.2;
    }

    &:nth-child(2) {
      &:after {
        content: "2";
      }
    }

    &:nth-child(3) {
      &:after {
        content: "3";
      }
    }

    &:nth-child(4) {
      &:after {
        content: "4";
      }
    }

    &:nth-child(5) {
      &:after {
        content: "5";
      }
    }

    &:nth-child(6) {
      &:after {
        content: "6";
      }
    }

    @media screen and (min-width:768px) {}
  }

  .content {
    display: grid;
    padding-top: 1rem;
    gap: 42px;
    grid-template-columns: 1fr;
    @media screen and (min-width:768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .item .h3 {
    text-transform: uppercase;
    padding: 0 0 0.5rem;

    font-size: 1.5rem;

    @media screen and (min-width:768px) {}
  }

  header.heade {

    @media screen and (min-width:768px) {
      padding-right: 60px;
    }
  }
}