.main {
  font-family: 'Cormorant', serif;
  background: #12071f;
  font-family: 'Montserrat', sans-serif;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Space Mono', monospace;

}

.video__fullscreen {


  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  bottom: 0;


  @media screen and (min-width:768px) {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}

.mscroll {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: overlay;

  &__title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transform: scale(2);
    transition: all 1s ease;

    &>div {
      display: flex;
      animation: scrollText 74s infinite linear;
    }

    h1 {
      margin: 0;
      font-size: 14rem;
      color: rgba(255, 255, 255, 1);
      // transition: all 4s ease;
    }

    a {
      text-decoration: none;
      color: #ffffff3b;
    }

    a:hover {
      -webkit-text-stroke: 1px white;
      color: transparent;
    }
  }
}

/*div:hover {
  animation-play-state: paused;
}*/
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.welcome {
  position: relative;
  min-height: 90vh;

  @media screen and (min-width:768px) {
    min-height: 100vh;

  }

  .container {
    position: relative;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 2rem 2rem;
    left: 50px;
    right: 0;
    left: 0;
    padding-left: calc(50px + 2rem);
    min-height: 90vh;
    user-select: none;
    pointer-events: none;
    // mix-blend-mode: difference;

    @media screen and (min-width:768px) {
      min-height: 100vh;

      right: 0;
      position: absolute;
      left: 50px;
      padding: 4rem 4rem;
    }
  }

  video {
    width: 100%;
    object-fit: cover;
    object-position: center;
    min-height: 60vh;
    height: 60vh;

    @media screen and (min-width:768px) {
      min-height: 100vh;

    }
  }

  .content {
    position: relative;
    z-index: 12;
  }

  .h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 15px;

    color: #ff00dd;
    background: linear-gradient(30deg, #ff00dd, #00eeee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width:768px) {
      font-size: 5rem;
    }
  }

  .subtitle {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0px 0 0px;
    display: inline-block;
  }

  .title {
    color: #ff9301;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: capitalize;
    display: flex;
  }

  .context {
    color: hsla(0, 0%, 100%, .8);
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: .01em;
  }

  .btn_link {
    border: 1px solid transparent;
    cursor: pointer !important;
    display: inline-block;
    font-weight: 500;
    position: relative;
    text-decoration: none !important;
    transition: 0.4s;
    background: transparent;
    border-color: #ff9301;
    padding: .8rem 2rem;
    font-size: 0.8rem;
    line-height: 1.4;
    letter-spacing: -.02em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 1rem;

    &:hover {
      background-color: #ff9301;
      color: #fff;
    }



    @media screen and (min-width:768px) {
      padding: .8rem 3rem;
    }
  }

  .video__fullscreen {
    height: 100%;
    display: flex;
  }
}


section.followme {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: flex-end;
  width: 50px;
  justify-content: center;
  // border-right: 1px solid #ffffff36;
  mix-blend-mode: difference;

  >div {
    position: relative;
  }

  .phone {
    padding-right: 5px;
    position: absolute !important;
    top: 150px;
    left: 13px;
    color: #bbb;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    transform-origin: 0% 0%;
    text-align: right;
    transform: rotate(-90deg);
  }

  .followlabel {
    padding-right: 5px;
    position: absolute;
    bottom: 120%;
    right: -47px;
    color: #bbb;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    transform-origin: 0% 0%;
    text-align: right;
    transform: rotate(-90deg);

  }

  .soc a {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #bbb;
    transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);

    svg {
      width: 20px;
      height: 20px;
      fill: #bbb;
    }
  }
}



.singleimage {
  width: 100%;
  background: rgba(100, 100, 100, 0.1);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.singleimage {
  height: 95%;
  width: 74.4%;
  left: 49.95%;
  top: 48.3%;
  border-radius: 5px 5px 0 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 123;
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.overlaydeviceimage {
  width: 100%;
  position: relative;
  user-select: none;
  pointer-events: none;
}

.device {
  position: relative;
}

.overlaydevice {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


.overlaydeviceimage::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.device-mbp15 .overlaydeviceimage::before {
  content: "";
  display: block;
  padding-top: 50.365%;
}

.portfolio {

  padding: 90px 0;
  background: rgba(34,34,85, 1.0);

  position: relative;
  padding-left: 50px;
  color: #fff;
  h2{
    color: #05FFA1;
    text-align: left;
  }
  h5{
    color: #05FFA1;
  }
  .showcase {
    display: grid;
    padding: 30px 0 90px;
    grid-template-columns: 1fr;
    gap: 30px 0;
    align-items: center;

    @media screen and (min-width:1050px) {
      grid-template-columns: 1fr;

      &:nth-child(3) {
        grid-template-columns: 0.5fr 1.5fr;

        span {
          grid-row: 1;
        }
      }
    }


    .casestudy_name {
      text-align: center;
      color: #fff;
      text-align: center;
    max-width: 600px;
    margin: 0 auto;
      @media screen and (min-width:1050px) {
      }

      h5 {
        font-size: 2rem;
      }

      .case_about {
        margin-top: 1rem;
      }

      .case_link {}
    }
  }


  .container {
    margin: 0 auto;
    padding: 0 2rem;
  }

  .header {
    margin: 0 0 2rem;
    text-align: center;
    color: #000;
  }



  .grid {
    display: grid;
    gap: 72px;
    grid-template-columns: auto;

    @media screen and (min-width:768px) {
      grid-template-columns: auto auto auto;

    }
  }

  .portfolio_box {
    width: auto;
  }

  .gallery_link {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &:hover {
      &:after {
        top: 0;
      }

      img {
        opacity: 1;
        filter: blur(0px);
      }
    }

    a {
      display: flex;
    }

    &:after {
      // content: close-quote;
      // transition: top .7s;
      // position: absolute;
      // top: 55%;
      // left: 0;
      // right: 0;
      // bottom: 0;
      // background: linear-gradient(0deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 100%);
    }

    img {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      transition: opacity .7s;
      opacity: .5;
      border-radius: 5px;
      filter: blur(2px);
      object-position: top center;

      @media screen and (min-width:768px) {
        height: 550px;
      }
    }
  }

  .portfolio_img {
    position: relative;
  }

  .portfolio_info {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    // left: 0;
    // z-index: 3;
    padding: 4rem 0px 2rem;
    color: #000;
    text-align: center;
  }

  .portfolio_info h5 {
    font-size: 1.5rem;
    line-height: 1.2;

  }


}




section.services {
  padding: 90px 0;
  background: #521b81;
  position: relative;
  padding-left: 50px;
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // filter: blur(180px);
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // background: conic-gradient(from 180deg at 50% 50%, #0aefff -69.37deg, #0f83ff 31.88deg, #b056e7 120deg, #ff9966 204.37deg, #0aefff 290.63deg, #0f83ff 391.87deg), #a84ddf;
      opacity: .3;
      z-index: 1;
      
    }
  }
  

  .service_image {
    margin-bottom: 4rem;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    transition: all 2s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 50vh;

    h2 {
      padding: 0 1rem 0.5rem;

      font-size: 2rem;

      @media screen and (min-width:768px) {
        font-size: 2rem;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;


      a {
        margin: 0;
      }
    }

    &:hover {

      // height: 0vh;
      &:after {
        // opacity: 0;
      }
    }

    &:after {
      content: close-quote;
      transition: all 0.7s;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: 0.7;
    }

    h2,
    a {
      position: relative;
      z-index: 2;
      text-align: center;

    }
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0 2rem 0;
    gap: 40px;
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;

    @media screen and (min-width:768px) {
      grid-template-columns: 0.5fr 1fr;
    }
  }

  .h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
color: #00eeee;
    @media screen and (min-width:768px) {
      font-size: 3rem;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    position: relative;
    border-radius: 10px;

    @media screen and (min-width:768px) {
    }

    &:after {
      content: "ECOMMERCE";
      position: absolute;
      bottom: 30px;
      left: 30px;
      font-size: 5rem;
      font-weight: 900;
      line-height: 0.7;
      z-index: 1;
      opacity: 0.05;
    }

    &:nth-child(2) {
      &:after {
        content: "REACT JS";
      }
    }

    &:nth-child(3) {
      &:after {
        content: "WORDPRESS";
      }
    }

    &:nth-child(4) {
      &:after {
        content: "SHOPIFY";
      }
    }

    &:nth-child(5) {
      &:after {
        content: "LARAVEL";
      }
    }

    &:nth-child(6) {
      &:after {
        content: "WEB DESIGN";
      }
    }

    @media screen and (min-width:768px) {}
  }

  .content {
    display: grid;
    padding-top: 1rem;
    gap: 42px;
    grid-template-columns: 1fr;
    max-width: 1100px;
    margin: 0 auto;

    @media screen and (min-width:768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .item .h3 {
    text-transform: uppercase;
    padding: 0 0 0.5rem;
    color: #00eeee;
    font-size: 1.5rem;

    @media screen and (min-width:768px) {}
  }

  header.heade {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    @media screen and (min-width:768px) {
    }
  }
}

.more_projects{
  .projects_header{
    margin-bottom: 1rem;
  }
  .more_projects_grid {
    display: grid;
    max-width: 1100px;
    margin: 0 auto;
    gap: 80px;
    
    @media screen and (min-width:768px) {
    grid-template-columns: 1fr 1fr;

    }
  }
}


.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}